.card-2{
    height:400px;
    width:300px;
    border:5px double #FF748B;
    background-color:#E3FDFD;
    margin:20px 50px 20px 50px;

}
.card-2-img{
    height:100px;
    width:150px;
    border:1px solid #FF748B;
    margin:20px 75px 20px 75px;
}
.header-2{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color:#F72C5B;
    
}
.description-2{
    color:#FF748B;
    font-weight: bold;
    padding: 10px 20px;
}

.p2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
.price-2{
    font-size:25px;
}
.btn-2{
    border:solid 1px #000;
    border-radius: 0px 0px 25px 25px;
    background-color: #FF748B;;
    color:#fff;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:5px 10px 5px 10px;
}
.card-3{
    height:400px;
    width:300px;
    border:5px dashed #3FC1C9;
    background-color:#FFFBE6;
    margin:20px 50px 20px 50px;

}
.card-3-img{
    height:100px;
    width:150px;
    border:1px solid #3FC1C9;
    margin:20px 75px 20px 75px;
}
.header-3{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color: #143D60;
    
}
.description-3{
    color: #143D60;;
    font-weight: bold;
    padding: 10px 20px;
}

.p3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
.price-3{
    font-size:25px;
}
.btn-3{
    background-color:#143D60;
    color:#fff;
    border: 1px solid black; 
    border-radius:5px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.card-4{
    height:400px;
    width:300px;
    border:5px solid #AF05AA;
    border-bottom:15px solid #AF05AA;
    background-color:#F5EEEE;
    margin:20px 50px 20px 50px;

}
.card-4-img{
    height:100px;
    width:150px;
    border:1px solid #AF05AA;
    margin:20px 75px 20px 75px;
}
.header-4{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color: #AF05AA;
    
}

.description-4{
    color:#EA21A2;
    font-weight: bold;
    padding: 10px 20px;
}

.p4{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
.price-4{
    font-size:25px;
}
.btn-4{
    background-color:#F5EEEE;
    color:#AF05AA;
    border: 3px solid #AF05AA;
    border-radius:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: bolder;
}
.card-5{
    height:400px;
    width:300px;
    border:5px dotted #FFB22C;
    border-right:5px solid #FFB22C;
    border-left:5px solid #FFB22C;
    background-color:#F3FEB8;
    margin:20px 50px 20px 50px;

}
.card-5-img{
    height:100px;
    width:150px;
    border:1px solid #FFB22C;
    margin:20px 75px 20px 75px;
}
.header-5{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color: #D70654;
    
}

.description-5{
    color:#FF4C4C;
    font-weight: bold;
    padding: 10px 20px;
}

.p5{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
.price-5{
    font-size:25px;
}
.btn-5{
    background-color:#F3FEB8;
    color:#D70654;
    border: 5px solid #D70654;
    border-radius:0px 20px 0px 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: bolder;
}
a{
    font-weight: bolder;
    font-size:20px;
    color: #000;
}